<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
			               http://www.springframework.org/schema/context
               				http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- BoneCP configuration -->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="${computerDataBase.driverClass}" />
		<property name="jdbcUrl" value="${computerDataBase.jdbcUrl}" />
		<property name="username" value="${computerDataBase.username}" />
		<property name="password" value="${computerDataBase.password}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${computerDataBase.idleConnectionTestPeriodInMinutes}" />
		<property name="idleMaxAgeInMinutes" value="${computerDataBase.idleMaxAgeInMinutes}" />
		<property name="maxConnectionsPerPartition" value="${computerDataBase.maxConnectionsPerPartition}" />
		<property name="minConnectionsPerPartition" value="${computerDataBase.minConnectionsPerPartition}" />
		<property name="partitionCount" value="${computerDataBase.partitionCount}" />
		<property name="acquireIncrement" value="${computerDataBase.acquireIncrement}" />
		<property name="statementsCacheSize" value="${computerDataBase.statementsCacheSize}" />
	</bean>

	<context:property-placeholder location="classpath:computerDatabase.properties" />

</beans>